@page "/"
@using Microsoft.AspNetCore.Components;
@using Microsoft.JSInterop;

@inject IJSRuntime jsRuntime

<PageTitle>Index</PageTitle>

<h1> BEGIN! </h1>

<canvas id="canvas"> shu yerda </canvas>
<button onclick="Start"> bos shuni </button>

<h1> END </h1>


@code{

    async Task Start ()
    {
        await jsRuntime!.InvokeVoidAsync("init");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime!.InvokeVoidAsync("init");
    }

    [JSInvokable("init.onLoaded")]
    public static void OnLoaded()
    {
        // Code to initialize the A-Frame scene and load the 3D model goes here
    }
    
}